{% extends "layout.html" %} {% block title %}Login{% endblock title %} {% block
content %}
<div class="container py-5">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
      <h2 class="fw-bold">
        {% if formal == True %}Dear Sir, this is your message: {{msg}} {% else
        %} Hi, this is your message: {{msg}}{% endif %}
      </h2>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px">
    
    {% for fruit in fruits %}
    <div class="col mb-4">
      <div>
        <a href="#"></a>
        <div class="py-4">
          <span class="badge bg-primary mb-2"><strong>Fruit</strong></span>
          <h4 class="fw-bold">{{fruit}}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
    <!--<div class="col mb-4">
      <div>
        <a href="#"></a>
        <div class="py-4">
          <span class="badge bg-primary mb-2"><strong>Fruit</strong></span>
          <h4 class="fw-bold">Lorem libero donec</h4>
        </div>
      </div>
    </div>-->
  </div>
</div>

{% endblock content %}
